.xoo-qv-form label{
	font-style: italic;
	margin-left: 10px;
}
.xoo-qv-form {
}
.xoo-qv-main-settings{
    float: left;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
}
.xoo-qv-form h2{
    background-color: #4C4C4C;
    padding: 15px;
    color: white;
}
.xoo-qv-form input[type="text"]{
	min-width: 270px;
}
.xoo-qv-input{
	min-width: 270px;
}
.xoo-qv-sidebar{
    width: 15%;
    padding: 20px;
    float: right;
}
.premium-disabled{
    cursor: not-allowed;
    opacity: 0.8;

}
.premium-disabled label{
    cursor: not-allowed;
}

/*** Tabs ***/
.advanced-settings{
    display: none;
}


.xoo-qv-tabs{
    border-bottom: 1px solid #ccc;
}
.xoo-qv-tabs ul{
    display: inline-block;
    margin: 0;
}
.xoo-qv-tabs li{
    display: inline-block;
    padding: 10px;
    margin-left: 3px;
    background-color: #4C4C4C;
    color: white;
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 0;
    cursor: pointer
}

li.tab-1{
    margin-left: 0;
}
.xoo-qv-tabs .active-tab{
    background-color: #2d84d4;
}
/**          ***/