.xoo-qv-button{
	cursor: pointer;
    overflow: hidden;
    padding: 6px;
}
.xoo-qv-btn-txt{
    margin: auto;
    display: table;
    color: white;
    font-weight: normal;
}
.xoo-qv-panel{
    position: fixed;
    opacity: 0;
	transition: opacity 0.25s ease-in;
	z-index: 1004;
	overflow: auto;
}
.xoo-qv-panel-active {
    opacity: 1;
    width: 100%;
    height: 100%;
}

.xoo-qv-opac{
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0.8;
    display: none;
    position: fixed;
    z-index: 1000;
}
.xoo-qv-modal{
	width: 100%;
    height: 100%;
    position: absolute;
    display: table;
}
.xoo-qv-preloader{
   
}
.xoo-qv-inner-modal {
    display: table-cell;
    position: relative;
    vertical-align: middle;
}
.xoo-qv-outer-modal{
    position: absolute;
    z-index: 1;
}
.xoo-qv-container{
    margin: auto;
}
.xoo-qv-top-panel{
    position: relative;
    margin-bottom: 10px;
}
.xoo-qv-images{
	width: 40%;
	display: table;
	float: left;
}
.xoo-qv-summary{
	width: 57%;
	display: table;
	float: right;
}
.xoo-qv-main{
	padding: 10px;
	overflow: auto;
    background-color: white;
    max-height: 700px;

}
.xoo-qv-panel .images{
	display: table;
	margin: auto;
}

.xoo-qv-close{
    display: table;
    right: 0;
    bottom: 0;
    position: absolute;
    color: white;
    cursor: pointer;
}
.xoo-qv-close:hover{
    color: #db492b;
}
.xoo-qv-nxt , .xoo-qv-prev{
    color: white;
    display: table;
    position: fixed;
    top: 50%;
    transform: translate(0,-50%);
    font-size: 30px;
    cursor: pointer
}
.xoo-qv-prev{
    left: 3%;
}
.xoo-qv-nxt{
    right: 3%;
}
.xoo-qv-plink{
    padding: 8px 13px;
    display: inline-block;
    background-color: #2D84D4;
}
.xoo-qv-plink a{
    color: white;
}
.xoo-qv-plink a:hover{
    color: #eee;
}
.xoo-qv-panel .woocommerce-review-link{
    display: none;
}


/******** FONTS ************/
@font-face {
    font-family: 'xoo-qv';
    src:    url('fonts/xoo-qv.eot?9mvi0e');
    src:    url('fonts/xoo-qv.eot?9mvi0e#iefix') format('embedded-opentype'),
        url('fonts/xoo-qv.ttf?9mvi0e') format('truetype'),
        url('fonts/xoo-qv.woff?9mvi0e') format('woff'),
        url('fonts/xoo-qv.svg?9mvi0e#xoo-qv') format('svg');
    font-weight: normal;
    font-style: normal;
}

.xoo-qv {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'xoo-qv' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


.xooqv-zoom-in:before {
    content: "\e987";
}
.xooqv-eye:before {
    content: "\e9ce";
}
.xooqv-cross:before {
    content: "\ea0f";
}
.xooqv-arrow-right:before {
    content: "\ea34";
}
.xooqv-arrow-left:before {
    content: "\ea38";
}



/* Preloader */
.xoo-qv-preloader {
    text-align: center;
}

.xoo-qv-speeding-wheel {
    border: 3px solid white;
    margin: 0 auto;
    border-radius: 50%;
    border-left-color: transparent;
    border-right-color: transparent;
    animation: xoo-qv-spin 575ms infinite linear;
        -o-animation: xoo-qv-spin 575ms infinite linear;
        -ms-animation: xoo-qv-spin 575ms infinite linear;
        -webkit-animation: xoo-qv-spin 575ms infinite linear;
        -moz-animation: xoo-qv-spin 575ms infinite linear;
}



@keyframes xoo-qv-spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}

@-o-keyframes xoo-qv-spin {
    100%{ -o-transform: rotate(360deg); transform: rotate(360deg); }
}

@-ms-keyframes xoo-qv-spin {
    100%{ -ms-transform: rotate(360deg); transform: rotate(360deg); }
}

@-webkit-keyframes xoo-qv-spin {
    100%{ -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@-moz-keyframes xoo-qv-spin {
    100%{ -moz-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes spin {
    100%{ transform: rotate(360deg); transform: rotate(360deg); }
}
.xoo-qv-opl{
    display: none;
    position: absolute;
     top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.xoo-qv-opl .xoo-qv-speeding-wheel{
    height: 70px;
    width: 70px;
}

.xoo-qv-mpl{
    visibility: hidden;
    position: relative;
    display: table;
    margin: auto;
}

.xoo-qv-pl-active{
    display: table;
    visibility: visible;
}

.xoo-qv-mpl .xoo-qv-speeding-wheel{
    height: 35px;
    width: 35px;
    border-bottom-color: #fff;
    border-top-color: #fff;
}
/* -------------- */







