.gs_settings .nav-block{
    display: none;
}
.gs_settings .nav-block.nav-block-active{
    display: block;
}
.gs_settings textarea{
    width: 100%;
    resize: vertical;
    min-height: 100px;
}
.gs_saved,
.gs_not_saved{
    position: fixed;
    top: 50px;
    right: 50px;
    z-index: 9999999;
    color: #333333;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    animation-name: br_saved_anim;
    animation-duration: 0.2s;
    transition: background-color 0.6s;
    transition: box-shadow 0.6s;
}
@keyframes br_saved_anim {
    from {
        right: -50px;
    }

    to {
        right: 50px;
    }
}
.gs_saved_remove {
    animation-name: br_saved_remove_anim;
    animation-duration: 0.2s;
}
@keyframes br_saved_remove_anim {
    from {
        right: 50px;
    }

    to {
        right: -50px;
    }
}
.gs_saved{
    box-shadow: 1px 1px 3px 1px #55ff55 inset, 0 0 5px 0;
    background-color: #33bb33;
}
.gs_not_saved{
    box-shadow: 1px 1px 3px 1px #ff5555 inset, 0 0 5px 0;
    background-color: #bb3333!important;
}
.gs_saving {
    box-shadow: 1px 1px 3px 1px #cfcfcf inset, 0 0 5px 0;
    background-color: #bbbbbb!important;
}
.gs_saved .fa,
.gs_not_saved .fa{
    width: 50px;
    display: block;
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 32px;
}
.gs_saved .fa-check,
.gs_not_saved .fa-times{
    animation-name: br_saved_anim_fa;
    animation-duration: 0.4s;
}
@keyframes br_saved_anim_fa {
    0% {
        font-size: 0px;
    }

    50% {
        font-size: 0px;
    }

    100% {
        font-size: 32px;
    }
}
.colorpicker_field_brand {
    width: 2em;
    height: 1.5em;
    border: 1px solid black;
}
.gs_brand_widget_color .colorpicker_field_brand {
    display: inline-block!important;
    height: 26px;
}
.gs_brand_widget_color .gsand_label {
    float: left;
    height: 28px;
    line-height: 28px;
    padding-right: 1em;
}
.gs_shortcode_info ul{
    margin-left: 2em;
    margin-bottom: 1em;
    margin-top: 0.3em;
}
